/*
 * -------------------------------------------------
 *  PhilPalmer/onemetagenome Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

// Global default params, used in configs
docker.enabled = true

params {
  container = 'soedinglab/mmseqs2:latest'
  help = false
  singleEnd = false
}

manifest {
  name = 'PhilPalmer/onemetagenome'
  description = 'One metagenome pipeline to rule them all - this nextflow pipeline is a complete end-end metagenomic solution creating visulations of taxonomic  data from fastq input files, by utilising plass and mmseq tools'
  homePage = 'https://github.com/PhilPalmer/onemetagenome'
  pipelineVersion = '1.0dev'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.30.0'
}
